/* public.css */

.main-content {
  position: relative;
}

.spinner-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* partials/brochure.php */
.brochure-container{
  font-family: 'TeX Gyre Adventor';
  font-size: 13px;
  color: #000;
  text-align: center;
  padding-top: 15px;
}
.brochure-container img {
  height: 250px;
  width: 170px;
  margin-bottom: 5px;
}
.the_title, .the_product_type{
  padding: 7px 0px;
}
.the_product_type{
  padding-top: 0px;
  padding-bottom: 16px;
}
.green-download-button{
  font-size: 10px;
  width: 120px;
  display: inline;
}
.contain-download-button{
  text-align: center;
  padding-top: 2px;
}
.thumb_nail{
  height: 222px;
  width: 177px;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;

}
.thumb_nail:hover{
  box-shadow: inset 1000px 1000px 0px rgba(21, 105, 59, 0.74);
  animation: boxshadowshift 0.25s ;
}
.text{
  color:white;
}
.wrapper .text {
  background:rgba(21, 105, 59, 0.75);
  padding-top: 10px;
  padding-bottom: 14px;
  text-transform: uppercase;
  font-family: 'TeX Gyre Adventor';
  color: white;
  font-size: 15px;
  position: relative;
  top: 122px;
  vertical-align: bottom;
  left: 0px;
  visibility: hidden;
  }
  .wrapper img{
    position: relative;
    width: 60px;
    height: 50px;
    top: 75px;
    left: 0px;
    visibility: hidden;
  }
  .wrapper {
    display: block;
    height: 222px;
  }
  .wrapper:hover .text, .wrapper:hover img {
  visibility:visible;
  }


/* Spinner CSS */

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner,
.spinner:before {
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}

.spinner:before {
  content: '';
  display: block;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #333;
  animation: spinner .6s linear infinite;
}

.spinner-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -10px;
  margin-left: -10px;
}
@keyframes boxshadowshift {
  0%   {box-shadow: inset 0px 0px 0px rgba(21, 105, 59, 0.74);}
  100% {box-shadow: inset 0px 250px 0px rgba(21, 105, 59, 0.74); }
}

/* Animations */

.spinner-add,
.spinner-remove {
  animation-fill-mode: both;
  animation-duration: .4s;
}

.spinner-add {
  animation-name: spinner-add;
}

@keyframes spinner-add {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.spinner-remove {
  animation-name: spinner-remove;
}

@keyframes spinner-remove {
  to {
    transform: scale(0);
  }
}

