.brc-post {
  display: flex;
  flex-wrap: wrap-reverse;
}

.brc-edit-area,
.brc-example-area {
  padding: 17px 14px 21px;
  margin: 14px 7px;
  justify-content: space-between;
  box-sizing: border-box;
  border: 1px solid #e5e5e5;
}

.brc-example-area {
  flex: 1 1 25%;
}

.brc-example-area img {
  display: block;
  width: auto;
  max-height: 450px;
}

.brc-edit-area {
  flex: 3 3 55%;
}

.brc-header-group {
  display: block;
}

h3.brc-heading {
  display: inline-block;
  font-size: 13px;
}

.brc-edit-flex-container {
  display: flex;
  align-items: baseline;
  margin-bottom: 10px;
}

.brc-spinner-container {
  float: right;
}

.brc-label-group,
.brc-field-group {
  margin: 14px 7px;
  justify-content: space-between;
  box-sizing: border-box;
}

.brc-label-group {
  flex: 1 1 25%;
}

.brc-button-group {
  display: inline-block;
  float: right;
}

.brc-field-group {
  flex: 4 4 75%;
}

.brc-field-group.brc-current-file {
  overflow-wrap: break-word;
}

input.brc-text-input {
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  box-shadow: none;
}

.brc-button {
  padding-bottom: 3px;
  box-shadow: 0 1px 0 #0085ba;
  outline-color: rgb(16, 137, 186);
  border-color: #0085ba #006799 #006799;
  border-width: 3px 1px 1px;
  border-radius: 3px;
  border-style: solid;
  background-color: #0085ba;
  color: #fff;
  text-shadow: 0 -1px 1px #006799, 1px 0 1px #006799, 0 1px 1px #006799, -1px 0 1px #006799;
  cursor: pointer;
  transition: all 0.05s ease-in-out;
}

.brc-button:hover,
.brc-button:active {
  border-color: #008ec2 #006799 #006799;
  background-color: #008ec2;
}

.brc-button-text {
  font-size: 10px;
  text-transform: uppercase;
}

.brc-delete-button {
  box-shadow: 0 1px 0 #a00;
  outline-color: rgb(183, 13, 13);
  border-color: #a00 #770000 #770000;
  background-color: #a00;
  text-shadow: 0 -1px 1px #a00, 1px 0 1px #a00, 0 1px 1px #a00, -1px 0 1px #a00;
}

.brc-delete-button:hover,
.brc-delete-button:active {
  border-color: #C22C2C #770000 #770000;
  background-color: #C22C2C;
}

.brc-delete-button:disabled {
  opacity: .65;
  pointer-events: none;
}

.brc-invalid {
  border-color: #C22C2C #770000 #770000 !important;
  box-shadow: 0 1px 0 #a00 !important;
}

.monospace-styled {
  font: normal 12px monospace;
  color: #bc352c;
  padding-left: 2px;
  padding-right: 2px;
}

.unset-brochure-form {
  display: inline;
}

@media screen and (max-width: 1274px) {

  .brc-button-group {
    display: block;
    float: none;
    margin-top: 14px;
  }

}

@media screen and (max-width: 1190px) {

  .brc-example-area,
  .brc-edit-area {
    width: 100%;
  }

  .brc-edit-flex-container {
    display: block;
    overflow: hidden;
  }

}

@media screen and (max-width: 850px) {

  .brc-example-area,
  .brc-edit-area {
    width: auto;
  }

  .brc-edit-flex-container {
    display: flex;
  }
}

@media screen and (max-width: 768px) {

  .brc-example-area,
  .brc-edit-area {
    width: 100%;
  }

  .brc-edit-flex-container {
    display: block;
    overflow: hidden;
  }

  .brc-button-group button {
    margin: 3px auto 8px;
    width: auto;
  }

}

@media screen and (max-width: 500px) {

  .brc-button-group {
    display: block;
    float: none;
    margin-top: 14px;
  }

}
