/* public.css */

.brc-main-content {
  position: relative;
}

.brc-brochure-container {
  font-family: 'TeX Gyre Adventor';
  font-size: 13px;
  color: #000;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 15px;
}

.brc-title,
.brc-product-type {
  padding-top: 7px;
  line-height: 18px;
}

.brc-product-type {
  padding-bottom: 14px;
}

.brc-download-button {
  margin: 0 auto;
  width: 90px;
  font-size: 10px;
  line-height: 10px;
  padding-top: 9px;
  padding-bottom: 9px;
}

.brc-contain-download-button {
  text-align: center;
  padding-top: 2px;
}

.brc-thumbnail {
  min-height: 222px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.brc-thumbnail:hover{
  box-shadow: inset 1000px 1000px 0px rgba(21, 105, 59, 0.74);
  animation: boxshadowshift 0.25s;
}

.brc-view-text {
  color: white;
}

.brc-thumbnail-wrapper .brc-view-text {
  background: rgba(21, 105, 59, 0.75);
  padding-top: 10px;
  padding-bottom: 14px;
  text-transform: uppercase;
  font-family: 'TeX Gyre Adventor';
  color: white;
  font-size: 15px;
  position: relative;
  top: 122px;
  vertical-align: bottom;
  left: 0px;
  visibility: hidden;
}

.brc-thumbnail-wrapper img {
  position: relative;
  width: 60px;
  height: 50px;
  top: 75px;
  left: 0px;
  visibility: hidden;
}

.brc-thumbnail-wrapper {
  display: block;
  height: 222px;
}

.brc-thumbnail-wrapper:hover .brc-view-text,
.brc-thumbnail-wrapper:hover img {
  visibility: visible;
}

.brc-pagination-link {
  margin-bottom: 15px;
  color: #207e4e;
  font-family: 'TeX Gyre Adventor';
  text-transform: uppercase;
}

.brc-pagination-link a:hover,
.brc-pagination-link a:focus {
  text-decoration: none;
}

.widget_brc_post_filter {
  padding-top: 0 !important;
  border: none !important;
}

.brc-panel {
  border: none;
  border-radius: 0;
  box-shadow: none;
}

.brc-panel-heading {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ececec !important;
  border: none;
  border-radius: 0;
}

.brc-panel-heading h3 {
  display: inline;
  color: #207e4e;
  text-transform: uppercase;
}

.brc-panel-body {
  background-color: #f2f2f2 !important;
  padding: 17px;
}

.brc-filter-label,
.brc-filter-select {
  font-family: 'TeX Gyre Adventor';
  font-size: 13px;
  font-weight: normal;
}

.brc-filter-label {
  padding-bottom: 3px;
  padding-left: 3px;
  text-transform: uppercase;
}

.brc-filter-select {
  color: #949292;
}

.brc-none-found {
  padding-top: 45px;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
}

.brc-none-title h3 {
  text-transform: uppercase;
}

.brc-none-title i {
  color: #207e4e;
  padding-left: 2px;
}


.brc-none-body p {
  font-family: 'TeX Gyre Adventor';
  font-size: 13px;
}

