/* public.css */

.brc-main-content {
  position: relative;
}

.brc-brochure-container {
  font-family: 'TeX Gyre Adventor';
  font-size: 13px;
  color: #000;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 15px;
}

.brc-title,
.brc-product-type {
  padding-top: 7px;
  line-height: 18px;
}

.brc-request-button {
  background-color: #257aaf;
  color: #fff;
  margin: 0 auto;
  width: 90px;
  font-size: 10px;
  line-height: 13px;
  border-radius: 4px !important;
  padding-top: 9px;
  padding-bottom: 9px;
  cursor: pointer;
}

.brc-request-button:hover {
  background-color: #559b7c;
  color: #fff;
  text-decoration: none;
}

.brc-request-button.brc-cancel {
  background-color: #fff;
  color: #7D807B;
  margin-right: 7px !important;
}

.brc-request-button.brc-cancel:hover {
  background-color: #e5e5e5;
}

.brc-request-submit,
.brc-cancel {
  display: inline-block;
  font-family: 'TeX Gyre Adventor';
  text-transform: uppercase;
  width: auto;
}

.brc-request-wrapper {
  text-align: center;
  padding-top: 7px;
}

.brc-row-flex {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
}

.brc-request-all {
  display: flex;
}

.brc-request-all,
.brc-page-title {
  align-items: center;
}

.brc-request-all .brc-request-button {
  display: inline-block;
  cursor: pointer;
  width: auto;
  font-family: 'TeX Gyre Adventor';
  text-align: center;
  margin: 20px auto;
}

#brc-spinner-container {
  margin-left: 20px;
}

.brc-modal-header {
  border-bottom: none;
  padding-left: 35px;
}

.brc-modal-body,
.brc-modal-footer {
  padding-left: 35px;
  padding-right: 35px;
}

.brc-modal-footer {
  padding-bottom: 35px;
  border-top: none;
}

p.brc-ready-to-order {
  font-size: 14px;
  line-height: 21px;
}

h4.brc-modal-title {
  text-transform: uppercase;
  font-size: 20px;
  padding-top: 30px;
}

ul.brc-requested-catalogs {
  list-style: none;
  font-family: 'TeX Gyre Adventor';
  font-size: 16px;
}

.brc-flex-li::before {
  display: none;
}

.brc-flex-li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brc-li-icon,
.brc-li-item-name,
form.brc-li-form {
  display: flex;
  align-items: baseline;
}

.brc-li-icon {
  flex: 0 1 25px;
  cursor: pointer;
}

.brc-li-icon i,
.brc-li-icon i::before {
  pointer-events: inherit;
}

.brc-li-item-name {
  flex: 3 3 auto;
  padding-right: 15px;
}

form.brc-li-form {
  flex: 0 1 auto;
}

form.brc-li-form .form-group {
  display: flex;
  align-items: baseline;
}

form.brc-li-form label {
  font-family: 'TeX Gyre Adventor';
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 0;
}

.brc-shipping-info label,
.brc-shipping-info input {
  font-family: 'TeX Gyre Adventor';
  font-size: 12px;
  font-weight: normal;
}


.brc-li-text {
  max-width: 50px;
  margin-left: 25px;
  text-align: center;
}

.brc-total {
  display: flex;
  justify-content: flex-end;
  text-align: center;
}

.brc-li-total {
  font-weight: 600;
}

.brc-li-total-qty {
  max-width: 50px;
  width: 100%;
  margin-left: 25px;
}

.brc-request-all .brc-request-button:disabled {
  background-color: #ececec;
}

.brc-selected {
  background-color: #559b7c;
}

.brc-counter {
  display: none;
  font-size: 10px;
  background-color: #f31519;
  padding: 1px 7px;
}

.brc-thumbnail {
  min-height: 222px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.brc-thumbnail:hover{
  box-shadow: inset 1000px 1000px 0px rgba(21, 105, 59, 0.74);
  animation: boxshadowshift 0.25s;
}

.brc-view-text {
  color: white;
}

.brc-thumbnail-wrapper .brc-view-text {
  background: rgba(21, 105, 59, 0.75);
  padding-top: 10px;
  padding-bottom: 14px;
  text-transform: uppercase;
  font-family: 'TeX Gyre Adventor';
  color: white;
  font-size: 15px;
  position: relative;
  top: 122px;
  vertical-align: bottom;
  left: 0px;
  visibility: hidden;
}

.brc-thumbnail-wrapper img {
  position: relative;
  width: 60px;
  height: 50px;
  top: 75px;
  left: 0px;
  visibility: hidden;
}

.brc-thumbnail-wrapper {
  display: block;
  height: 222px;
}

.brc-thumbnail-wrapper:hover .brc-view-text,
.brc-thumbnail-wrapper:hover img {
  visibility: visible;
}

.brc-pagination-link {
  margin-bottom: 15px;
  color: #207e4e;
  font-family: 'TeX Gyre Adventor';
  text-transform: uppercase;
}

.brc-pagination-link a:hover,
.brc-pagination-link a:focus {
  text-decoration: none;
}

.widget_brc_post_filter {
  padding-top: 0 !important;
  border: none !important;
}

.brc-panel {
  border: none;
  border-radius: 0;
  box-shadow: none;
}

.brc-panel-title-button {
  display: block;
}

.brc-panel-title-button:after {
  content: "⌃";
  float: right;
  color: rgb(85, 85, 85);
}

.brc-panel-title-button.collapsed:after {
  transform: rotate(180deg);
}

#brc-validation-message {
  color: #AA0000;
}

.brc-panel-heading {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ececec !important;
  border: none;
  border-radius: 0;
}

.brc-panel-heading h3 {
  display: inline;
  color: #207e4e;
  text-transform: uppercase;
}

.brc-panel-body {
  background-color: #f2f2f2 !important;
  padding: 17px;
}

.brc-filter-label,
.brc-filter-select {
  font-family: 'TeX Gyre Adventor';
  font-size: 13px;
  font-weight: normal;
}

.brc-filter-label {
  padding-bottom: 3px;
  padding-left: 3px;
  text-transform: uppercase;
}

.brc-filter-select {
  color: #949292;
}

.brc-none-found {
  padding-top: 45px;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
}

.brc-none-title h3 {
  text-transform: uppercase;
}

.brc-none-title i {
  color: #207e4e;
  padding-left: 2px;
}


.brc-none-body p {
  font-family: 'TeX Gyre Adventor';
  font-size: 13px;
}

.brc-links-wrapper {
  text-align: center;
  padding-top: 7px;
}

h1.brc-page-title {
  font-size: 36px;
  margin: 0;
  display: inline-flex;
}
